/* *{
    outline: 1px dotted red;
} */

header{
    margin-top: 20px;
}

h2 {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

ol {
    margin-top:20px;
}